.Select {
  margin: 0px 0px 15px 0px;
  label {
    margin: 0px 0px 3px 0px;
    font-weight: 600;
    display: block;
  }
  select {
    display: block;
    border: 1px solid #bebebe;
    margin: 0px 0px 5px;
    height: 29px;
    width: 100%;
    outline: none;
    transition: all 300ms ease-in-out;
  }
}
