.AnswerItem {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0px 0px 5px 0px;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease-in-out;
  }

  &.success {
    background-color: rgba(161, 240, 69, 0.7);
  }

  &.error {
    background-color: rgba(240, 87, 108, 0.7);
  }
}
